html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.active {
   color:#000000
  }
/*Login Component Styles*/


*{
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.gradient-div {
  /*width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 10vw 0 0;
  border-color: yellow black transparent transparent;
  transform: scale(1.0001);*/
  border-top: 10px solid #fEfEfE;
  /*border-bottom: 10px solid #fEfEfE;*/
border-left: 20px solid #f6f6f6;
}

.parallelogram {
	/*width: 150px;
	height: 100px;*/
	-webkit-transform: skew(3deg, 178deg);
	   -moz-transform: skew(3deg, 178deg);
	     -o-transform: skew(3deg, 178deg);
		 transform: skew(3deg, 178deg);

	background: RGBA(200,200,200,0.2);
}

#topForm {
	background-image:url('../images/paperclip.gif');
    background-repeat:no-repeat;
    background-position:25px 1px;

}


/*Org chart circles*/
circle.uno {
  fill: transparent;
  stroke: #f00;
  stroke-width: 30;
  stroke-dasharray: 0 316.16 153.08 159.08;
}
circle.dos {
  fill: transparent;
  stroke: #0f0;
  stroke-width: 30;
  stroke-dasharray: 0 473.24 152.08 2;
}
circle.tres {
  fill: transparent;
  stroke: RGB(122,54,122);
  stroke-width: 30;
  stroke-dasharray: 0 2 153.08 473.24;
}
circle.cuatro {
  fill: transparent;
  stroke: yellow;
  stroke-width: 30;
  stroke-dasharray: 0 159.08 153.08 316.16 ;
}

.noBlank {
	whiteSpace: 'nowrap'
}

.readwrite {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
}

.floatRight {
  float:right;
}
